body{
    background-image: url(bgimage3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1;
}
ul li{
    list-style: none;
    text-decoration: none;
    float: left;
    padding: 10px;
}
button{
    background-color: #3366ff;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    padding: 24px 14px;
}

